# Virtual environments
ai-recom/
venv/
ENV/
.env
.venv
env/
env.bak/
venv.bak/

# Compiled Python files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so
*.dylib

# Dependency/build artifacts
.Python
build/
dist/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Logs and temp files
*.log
pip-log.txt
pip-delete-this-directory.txt

# Test coverage
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.pytest_cache/
.hypothesis/

# Database & local settings
local_settings.py
db.sqlite3
db.sqlite3-journal

# Streamlit-specific cache
.streamlit/

# IDE/editor/project files
.vscode/
.idea/
.devcontainer/
.spyderproject
.spyproject
.ropeproject

# Jupyter Notebook
.ipynb_checkpoints

# Documentation builds
docs/_build/

# PyInstaller
*.spec

# PyPI configuration file
.pypirc
